/ {
    leds {
        compatible = "gpio-leds";

        myled0: led_0 {
            gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
            label = "User LED";
        };
    };

    aliases {
        led0 = &myled0;
    };
};
